:root {
  --background-color: rgb(241, 141, 141);
  --page-color: rgb(53, 51, 51);
  --primary-color: #dd4747;
  --primary-color: #e27c39;
  --primary-color-darker: #d1661e;
  --text-color: rgb(21,21,21);

  --border-color-black: rgb(21,21,21, .2)
  
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;

  color: var(--text-color);

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
